@font-face {
  font-family: "Bump It Up";
  src: url("bump_it_up.ttf") format("opentype");
}
html, body, .hexagon-app, .hexagon-viewport, .hexagon-screen-1 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Bump It Up";
}

.hexagon-screen-1 {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  text-align: right;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 0;
  color: white;
}

.hexagon-screen-1 .hexagon-time-legend {
  font-size: 5vh;
  line-height: 100%;
  vertical-align: top;
  background-color: black;
  position: relative;
  padding-right: 5vh;
  z-index: 10;
}
.hexagon-screen-1 .hexagon-time-legend:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  margin-left: calc(-10vh + 1px);
  border-left: solid 10vh transparent;
  border-top: solid 10vh black;
}
.hexagon-screen-1 .hexagon-time-value {
  background-color: black;
  display: inline-block;
  font-size: 5vh;
  position: relative;
  z-index: 1;
}
.hexagon-screen-1 .hexagon-time-value:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  margin-left: -5vh;
  border-left: solid 5vh transparent;
  border-top: solid 5vh black;
}
.hexagon-screen-1 .hexagon-time-seconds {
  font-size: 7vh;
}
.hexagon-screen-1 .hexagon-time-millis {
  font-size: 5vh;
}
