/**************************************************
 *          Global styles and resets              *
 **************************************************/
@font-face {
  font-family: "Bump It Up";
  src: url("data/bumpitup.ttf") format("opentype");
}
html, body, .hexagon-app, .hexagon-ui, .hexagon-viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Bump It Up";
  text-transform: uppercase;
  overflow: hidden;
}
button {
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}

/**************************************************
 *    Support for ui elements on top of canvas    *
 *      maintaining proper event delegation       *
 **************************************************/
.hexagon-viewport {
  position: absolute;
  top: 0;
  left: 0;
}
div[class^="hexagon-screen-"], div[class*=" hexagon-screen-"] {
  display: inline-block;
  width: 100%;
  height: 100%;
}
div[class^="hexagon-screen-"] > *, div[class*=" hexagon-screen-"] > * {
  /* UI elements need to be positioned absolutely
     for this to work */
  z-index: 10;
}

/**************************************************
 *               Directional Buttons              *
 **************************************************/
.hexagon-directional-button {
  position: absolute;
  z-index: 20;
  width: 15vw;
  height: 10vw;
}
.hexagon-directional-button *:nth-child(1) {
  fill: black;
}
.hexagon-directional-button *:nth-child(2) {
  stroke: white;
  fill: #ddd;
  stroke-width: 5px;
}

/**************************************************
 *                  Title Screen                  *
 **************************************************/
.hexagon-screen-title {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.hexagon-screen-title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  white-space: pre;
}
.hexagon-screen-title h1 > span:first-child:after {
  content: "\A";
}
.hexagon-screen-title h1 > span:nth-child(1) {
  font-size: 9vw;
}
.hexagon-screen-title h1 > span:nth-child(2) {
  font-size: 6vw;
  margin-left: 8vw;
}
.hexagon-screen-title .hexagon-title-action {
  font-size: 2vw;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
}
.hexagon-screen-title .hexagon-directional-button.left {
  left: 10vw;
  bottom: 20vh;
  transform: skew(20deg);
}
.hexagon-screen-title .hexagon-directional-button.right {
  right: 10vw;
  bottom: 20vh;
  transform: scale(-1, 1) skew(20deg);
}
/**************************************************
 *                Settings Screen                 *
 **************************************************/
.hexagon-screen-settings {
  color: white;
  position: absolute;
  z-index: 10;
  text-align: center;
  width: auto !important;
  height: auto !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
.hexagon-screen-settings h1 {
  font-size: 6vw;
}
.hexagon-screen-settings ul {
  font-size: 2vw;
  list-style: none;
}
.hexagon-screen-settings li {
  margin-bottom: 2vh;
  border: solid 0.5vw transparent;
  padding: 0.5vw;
}
.hexagon-screen-settings li.active {
  border-color: #797979;
  background-color: #525252;
}

/**************************************************
 *                Level One Screen                *
 **************************************************/
.hexagon-screen-1 {
  text-align: right;
  vertical-align: top;
  font-size: 0;
  color: white;
}
.hexagon-screen-1 .hexagon-time-legend {
  font-size: 5vh;
  line-height: 100%;
  vertical-align: top;
  background-color: black;
  position: relative;
  padding-right: 5vh;
}
.hexagon-screen-1 .hexagon-time-legend:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  margin-left: calc(-10vh + 1px);
  border-left: solid 10vh transparent;
  border-top: solid 10vh black;
}
.hexagon-screen-1 .hexagon-time-value {
  background-color: black;
  display: inline-block;
  font-size: 5vh;
  position: relative;
  z-index: 1;
}
.hexagon-screen-1 .hexagon-time-value:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  margin-left: -5vh;
  border-left: solid 5vh transparent;
  border-top: solid 5vh black;
}
.hexagon-screen-1 .hexagon-time-seconds {
  font-size: 7vh;
}
.hexagon-screen-1 .hexagon-time-millis {
  font-size: 5vh;
}
